<%-include("partials/header")%>
<!-- Making area for the all content-->
<div class="container-content">
    <!--arrange page header area-->
    <div class="page-header-area">
        <h1 class="page-header"><%= myHomePage %></h1>
    </div> 
    <div class="container-restricted-block-text-area">
        <!--arrange all content for h1 and p tags-->
            <div class="block-header-area">
                <h3 class="block-header">
                    About Me
                </h3>
            </div>
            <!--text area-->
            <div class="block-text-area">
                <p class="block-content"><%= content1 %></p>
            </div>
                        
    </div>       
</div>  

<%-include("partials/footer")%>