<%-include("partials/header")%>

<div class="container-content">
    <!--arrange page header area-->
    <div class="page-header-area">
        <h1 class="page-header"><%= myHomePage %></h1>
    </div>
    <div class="container-restricted-block-text-area2">
        <section class="mb-4" style="padding-bottom:1%;">
            <!--Section heading-->
            <h2 class="h1-responsive font-weight-bold text-left my-4" style="padding-left:1%;padding-top:1%">Contact Me</h2>
            <!--Section description-->
            <p class="text-left w-responsive mx-auto mb-5" style="padding-left:1%">Do you have any questions? Please do not hesitate to contact me directly. I will come back to you within
                a matter of hours to help you.</p>
        
            <div class="row" style="padding-left:1%">
        
                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" action="mail.php" method="POST">
        
                        <!--Grid row-->
                        <div class="row">
        
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="">Your name</label>
                                </div>
                            </div>
                            <!--Grid column-->
        
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="email" name="email" class="form-control">
                                    <label for="email" class="">Your email</label>
                                </div>
                            </div>
                            <!--Grid column-->
        
                        </div>
                        <!--Grid row-->
        
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="subject" name="subject" class="form-control">
                                    <label for="subject" class="">Subject</label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
        
                        <!--Grid row-->
                        <div class="row">
        
                            <!--Grid column-->
                            <div class="col-md-12">
        
                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                    <label for="message">Your message</label>
                                </div>
        
                            </div>
                        </div>
                        <!--Grid row-->
        
                    </form>
        
                    <div class="text-center text-md-left">
                        <a class="btn btn-dark" style="border-radius:3px; padding-left:3%;padding-right:3%;" onclick="document.getElementById('contact-form').submit();">Send</a>
                    </div>
                    <div class="status"></div>
                </div>
                <!--Grid column-->
        
                <!--Grid column-->
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0" style="margin-top:-45px;">
                        <li><i class="fas fa-map-marker-alt fa-2x"></i>
                            <p>Iğdır, 14 Nov St. No:2, TUR</p>
                        </li>
        
                        <li><i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>+ 90 551 123 1212</p>
                        </li>
        
                        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>contact@hib.com</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
        
        </section>
        <!--Section: Contact v.2-->
    </div>
    
</div> 
<!--Section: Contact v.2-->

<%-include("partials/footer")%>